<!DOCTYPE html>
<html>
<head>
    <title>AADO Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sidebar">
    <div class="logo">
        <h1>NUNSIS</h1>
        <h2>Athletes' Academic Development Office</h2>
    </div>

    <div class="menu">

    {% if session.get("role") in ["super_admin", "admin_jhs_shs", "admin_college"] %}
        <a href="/">🏠 Dashboard</a>
    {% endif %}

    <a href="/student_list">👥 Student List</a>
    <a href="/add_student">➕ Add New Student</a>

    {% if session.get("role") in ["super_admin", "admin_jhs_shs", "admin_college"] %}
        <a href="/grades">📘 Grades</a>
        <a href="/reports">📊 Reports</a>
    {% endif %}

    {% if session.get("role") == "super_admin" %}
        <a href="/promote_students">⬆️ Promote Students</a>
        <a href="/manage_accounts">👤 Manage Accounts</a>
        <a href="/manage_sports">🏅 Manage Sports</a>
    {% endif %}

    <a href="/logout">🚪 Logout</a>

    </div>
</div>

<div class="main">

    <div class="topbar">
        <h2>{{ dashboard_title }}</h2>
        <h3>Hi, Mathias Jr</h3>
    </div>

    <div class="cards">

        <div class="dashboard-card blue">
            <h3>Total Student Athletes</h3>
            <h1>{{ total_students }}</h1>
            <p>All athletes</p>
        </div>

        <div class="dashboard-card green">
            <h3>Passed Students</h3>
            <h1>{{ passed_students }}</h1>
            <p>No failing grades</p>
        </div>

        <div class="dashboard-card red">
            <h3>Failed Students</h3>
            <h1>{{ failed_students }}</h1>
            <p>Needs monitoring</p>
        </div>

        <div class="dashboard-card orange">
            <h3>Sports Events</h3>
            <h1>{{ total_sports }}</h1>
            <p>Total sports</p>
        </div>

    </div>

    <div class="card">
        <h2>Welcome to AADO Monitoring System</h2>
        <p>Go to <b>Student List</b> to add or edit student grades.</p>
    </div>

</div>

</body>
</html>