<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-body">

<div class="login-box">

    <h2>Create Account</h2>

    {% if error %}
        <p style="color:red; text-align:center;">{{ error }}</p>
    {% endif %}

    {% if success %}
        <p style="color:green; text-align:center;">{{ success }}</p>
    {% endif %}

    <form method="POST">

        <input type="text"
               name="fullname"
               placeholder="Full Name"
               required>

        <input type="text"
               name="position"
               placeholder="Position / Student Athlete"
               value="Student Athlete"
               required>

        <input type="text"
               name="username"
               placeholder="Student ID or Username"
               required>

        <input type="password"
               name="password"
               placeholder="Password"
               required>

        <select name="role" required>
            <option value="">Select Role</option>

            <option value="student">
                Student Athlete
            </option>

            {% if session.get("role") == "super_admin" %}
                <option value="admin_jhs_shs">
                    JHS / SHS Admin
                </option>

                <option value="admin_college">
                    College Admin
                </option>

                <option value="super_admin">
                    Super Admin
                </option>
            {% endif %}
        </select>

        <button type="submit">
            Register
        </button>

    </form>

    <p>
        Already have account?
        <a href="/login">Login here</a>
    </p>

</div>

</body>
</html>